<style>
body{
counter-reset: figure-counter;
}

figure{
  text-align: center;
}
figcaption::before {
  counter-increment:  figure-counter;
  content: "Figure " counter(figure-counter) " : " ;
  font-weight: bold;
  color: #69271e;
}
</style>
